# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
